{{- $team := site.Data.public.team }}
{{- $teamCategories := dict
    "be" (dict "tag" .be_team_tag "name" "Backend" "members" slice)
    "fe" (dict "tag" .fe_team_tag "name" "Frontend" "members" slice)
    "fs" (dict "tag" .fs_team_tag "name" "Fullstack" "members" slice)
    "sre" (dict "tag" .sre_team_tag "name" "SRE" "members" slice)
    "set" (dict "tag" .set_team_tag "name" "SET" "members" slice)
}}

{{- $updatedCategories := dict }}
{{- range $key, $category := $teamCategories }}
    {{- $members := slice }}
    {{- range $team }}
        {{- if in .departments $category.tag }}
            {{- $members = $members | append . }}
        {{- end }}
    {{- end }}
    {{- $updatedCategories = merge $updatedCategories (dict $key (merge $category (dict "members" $members))) }}
{{- end }}

{{- $totalEngineers := 0 }}
{{- range $updatedCategories }}
    {{- $totalEngineers = add $totalEngineers (len .members) }}
{{- end }}

{{- if gt $totalEngineers 0 }}
<table>
    <thead>
        <tr>
            <th>Total Engineers</th>
            {{- range $key, $category := $updatedCategories }}
                {{- if gt (len $category.members) 0 }}
                <th>{{ $category.name }}</th>
                {{- end }}
            {{- end }}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">{{ $totalEngineers }}</td>
            {{- range $key, $category := $updatedCategories }}
                {{- if gt (len $category.members) 0 }}
                <td class="text-center">{{ len $category.members }}</td>
                {{- end }}
            {{- end }}
        </tr>
    </tbody>
</table>
{{- end }}
