{{- $data := newScratch }}

{{- range site.Data.public.team }}
  {{ $member := slice . }}
  {{- with .gitlab }}
  {{- $data.Add . $member }}
  {{- end }}

  {{- with .name }}
  {{- $data.Add . $member }}
  {{- end -}}

  {{- $departments := slice }}
  {{- with .departments }}
  {{- $departments = $departments | append . }}
  {{- end -}}
  {{- with .team_tags }}
  {{- $departments = $departments | append . }}
  {{- end -}}

  {{- range $departments }}
    {{- $data.Add . $member }}
  {{- end }}

  {{- with .specialty }}
  {{- $specialties := slice | append . }}
  {{- range $specialties }}
    {{- $data.Add . $member }}
  {{- end }}
  {{- end -}}
{{- end -}}

{{- return $data -}}
