{{- $categories := dict }}
{{- range $k, $v := site.Data.public.categories }}
  {{- $categories = merge $categories (dict $k $v) }}
{{ end }}
{{ $stages := site.Data.public.stages.stages }}

<table>
    <thead>
        <tr>
        <th>Category</th>
        <th>Group</th>
        </tr>
    </thead>
    <tbody>
        {{ range $k, $v := $categories }}
        <tr>
        <td>{{ .name }} <code>{{$k}}</code></td>
        <td>{{- $cat := $k }}
            {{- range $key, $data := $stages }}
            {{- range $k, $v := $data.groups }}
                {{- if in .categories $cat }}
                <a href='#{{ replace $k "_" "-" }}-group'>{{ $v.name }}</a>
                {{- end }}
            {{- end }}
            {{- end }}
        </td>
        </tr>
        {{ end }}
    </tbody>
</table>
