{{- /*  Initialize. */}}
{{- $department := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $department = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional argument for department."}}
{{- end }}

{{- $departmentMembers := where site.Data.public.team "departments" "intersect" (slice $department) }}
{{- $tagMembers := where site.Data.public.team "team_tags" "intersect" (slice $department) }}
{{- $departmentTeamMembers := $departmentMembers | append $tagMembers | uniq }}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Departments</th>
    </tr>
  </thead>
  <tbody>
    {{- range $departmentTeamMembers }}
    <tr>
      <td>{{ partial "member/with-team-link" . }}</td>
      <td>
        {{- $group := "None" }}
        {{- range .departments }}
          {{- if strings.Contains . "Group" }}
            {{- $group = replace . "Group" "" }}
            {{- break }}
          {{- else if strings.Contains . "Team" }}
            {{- $group = . }}
            {{- $group = replace $group "BE" "" }}
            {{- $group = replace $group "FE" "" }}
            {{- $group = replace $group "Fullstack" "" }}
            {{- $group = replace $group " Team" "" }}
            {{- break }}
          {{- end }}
        {{- end }}
        {{ $group }}
      </td>
      <td>
        <ul>
          {{- range .departments }}
          <li>{{ . }}</li>
          {{- end }}
        </ul>
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>
