{{- /*  Initialize. */}}
{{- $filterValue := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $filterValue = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional argument."}}
{{- end }}

{{- $members := slice }}
{{- range site.Data.public.team }}
  {{- /* Check if it matches in expertise field */}}
  {{- if in .expertise $filterValue }}
    {{- $members = append (slice .) $members }}
  {{- /* Or check if a boolean field with the filter name exists and is true */}}
  {{- else if index . $filterValue | eq true }}
    {{- $members = append (slice .) $members }}
  {{- end }}
{{- end }}

<table>
  <thead>
      <th>Name</th>
      <th>Role</th>
  </thead>
  <tbody>
    {{- range $members }}
      <tr>
        <td>{{ partial "member/with-team-link" . }}</td>
        <td>{{ .role | safe.HTML }}</td>
      </tr>
    {{- end }}
  </tbody>
</table>
