{{- /*  Initialize. */}}
{{- $expertise := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $expertise = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional argument."}}
{{- end }}

{{- $members := slice }}
{{- range site.Data.public.team }}
  {{- if in .expertise $expertise }}
    {{- $members = append (slice .) $members }}
  {{- end }}
{{- end }}

<table>
  <thead>
      <th>Name</th>
      <th>Role</th>
  </thead>
  <tbody>
    {{- range $members }}
      <tr>
        <td>{{ partial "member/with-team-link" . }}</td>
        <td>{{ .role | safe.HTML }}</td>
      </tr>
    {{- end }}
  </tbody>
</table>
