{{ $publicHandbookRef := getenv "PUBLIC_HANDBOOK_REF" | default "master" }}
{{ $dataURL := printf "https://gitlab.com/gitlab-com/www-gitlab-com/-/raw/%s/data/performance_indicators/%s.yml" $publicHandbookRef (.Get 0) }}
{{ with resources.GetRemote $dataURL }}
  {{ with .Err}}
    <h2>Unable to fetch performance indicator Data</h2>
  {{ else }}
<ul>
      {{ $data := . | transform.Unmarshal }}
      {{ range $data }}
      {{ if .is_key }}
        {{ $link := printf "%s#%s" .base_path (anchorize .name) }}
          <li><a href="{{ $link }}">{{ .name }}</a></li>
      {{ end }}
      {{ end }}
</ul>
  {{ end }}
{{ end }}
