{{- /* To edit the content, see: https://gitlab.com/gitlab-com/www-gitlab-com/-/tree/master/data/team_members/person */}}
{{- /* Specify the appropriate departments in the team member's YML file in www-gitlab-com */}}
{{- /* Usage: team-by-departments-with-manager departments="GitLab Delivery:Release BE,GitLab Delivery:Release SRE" manager="manager-slug" */}}

{{- $departments := slice }}
{{- $manager := dict }}
{{- $managerSlug := "" }}

{{- if .IsNamedParams }}
  {{- with .Get "departments"}}
    {{- $departments = strings.Split . "," }}
  {{- end }}
  {{- with .Get "department" }}
    {{- $departments = append (strings.Split . ",") $departments }}
  {{- end }}
{{- else }}
  {{- $departments = (slice (.Get 0)) }}
{{- end }}

{{- $members := where site.Data.public.team "departments" "intersect" $departments }}
{{- $members = sort (uniq $members) "name" }}

{{- with .Get "manager" }}
  {{- $managerSlug = . }}
{{- end }}

{{- $manager = index (where site.Data.public.team "slug" "eq" $managerSlug) 0 }}

<table>
    <thead>
        <th>Name</th>
        <th>Role</th>
    </thead>
    <tbody>
        {{- with $manager }}
        <tr>
          <td>{{ partial "member/with-team-link" . }}</td>
          <td>{{ .role | safe.HTML }}</td>
        </tr>
        {{- end }}
        {{- range $members }}
          <tr>
              <td>{{ partial "member/with-team-link" . }}</td>
              <td>{{ .role | safe.HTML }}</td>
          </tr>
        {{- end }}
    </tbody>
</table>
