{{- $categories := dict }}
{{ $stages := site.Data.public.stages.stages }}
{{- range $stage_key, $stage_data := $stages }}
  {{- range $group_key, $group_data := $stage_data.groups }}
    {{- range $group_data.categories }}
      {{- $categories = merge $categories (dict . (dict "group" (merge $group_data (dict "id" $group_key)) "stage" $stage_data "type" "direction")) }}
    {{- end }}
    {{- range $group_data.maintained_categories }}
      {{- $categories = merge $categories (dict . (dict "group" (merge $group_data (dict "id" $group_key)) "stage" $stage_data "type" "maintained")) }}
    {{- end }}
  {{- end }}
{{- end }}

<table>
    <thead>
        <tr>
        <th>Category</th>
        <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {{ range $category, $v := $categories }}
        <tr>
        <td><code>{{$category}}</code></td>
        <td>
            Group: <a href='/handbook/product/categories/#{{ replace $v.group.id "_" "-" }}-group'>{{ or $v.group.display_name $v.group.name}}</a><br/>
            Slack: <a href='https://gitlab.slack.com/channels/{{ $v.group.slack.channel }}'>#{{ $v.group.slack.channel }}</a><br/>
            Engineering Manager: {{ or $v.group.em $v.group.backend_engineering_manager }}<br/>
            Product Manager: {{ $v.group.pm }}<br/>
            Category type: {{ $v.type }}<br />
        </td>
        </tr>
        {{ end }}
    </tbody>
</table>
