{{ $publicHandbookRef := getenv "PUBLIC_HANDBOOK_REF" | default "master" }}

{{ if not (.Get 0) }}
  {{ errorf "The product-priorities shortcode requires an argument. Usage: {{< product-priorities data-file-name >}}" }}
{{ end }}

{{ $groupName := .Get 0 }}
{{ $dataFileName := replace $groupName "-" "_" }}
{{ $dataURL := printf "https://gitlab.com/gitlab-com/www-gitlab-com/-/raw/%s/data/product_priorities/%s.yml" $publicHandbookRef $dataFileName }}
{{ $resource := resources.GetRemote $dataURL }}

{{ if not $resource }}
<h2>Unable to fetch priority Data</h2>
{{ else }}
{{ $data := $resource | transform.Unmarshal }}

<table>
  <thead>
    <tr>
      <th>Priority</th>
      <th>Name</th>
      <th>DRI</th>
      <th>Target release</th>
    </tr>
  </thead>
  <tbody>
    {{ with $data.priorities }}
      {{ $filteredPriorities := where . "status" "!=" "closed" }}
      {{ range $priorityIndex, $priority := $filteredPriorities }}
<tr>
  <td> {{ add $priorityIndex 1 }} </td>
  <td><a href="{{ .url }}">{{ .name }}</a></td>
  <td>{{ with .dri }}{{.}}{{ else }}TBD{{ end }}</td>
  <td>{{ with .target_release }}{{.}}{{ else }}TBD{{ end }}</td>
</tr>
      {{ end }}
    {{ end }}
  </tbody>
</table>
{{ end }}
